@font-face {
  font-family: 'Rye';
  src: url('../fonts/Rye-Regular.ttf');
}

body {
  background-image: linear-gradient(to bottom right, #222222, #092639);
}

.navbar {
  background-color: #0B324C;
}

.catalogue .item {
  margin-top: 75px;
}

.potion {
  margin-right: 30px;
}

.potion img {
  width: 300px;
  height: 300px;
}

.scroll {
  margin-left: 25px;
  width: 500px;
  background-image: url('../images/paper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 25px;
  text-shadow: 1px 1px 1px black;
  font-size: 12pt;
}

.scroll li {
  list-style: none;
}

.scroll h1 {
  background-color: rgba(136, 55, 26, .41);
  padding: 5px;
  font-family: 'Rye', cursive;
}

.scroll .info {
  background-color: rgba(136, 55, 26, .41);
}

.info-cat {
  font-weight: bold;
  color: #93D3C3;
  text-shadow: 2px 2px 1px black;
}
