<section class='container'>
  <div class='row'>
    <h2 class='total'>Total: <span id='money'>{{ cart.total }}</span></h2>
    <div class='col-md-2 col-md-push-10' ng-show='cart.total > 0'>
      <button class='btn btn-warning' style='margin-bottom: 20px;' ng-click='cart.checkout()'>Checkout</button>
    </div>
  </div>
  <div ng-show='cart.goodbye' class='row'>
    <div class='col-md-6 col-md-offset-3 reviews'>
      <div class='row'>
        <div class='col-md-4'>
          <img src='../../images/akara.jpg'>
        </div>
        <div class='col-md-8 review-detail'>
          <p><em>"May the Great Eye watch over you, traveler."</em></p>
        </div>
      </div>
    </div>
  </div>
  <div ng-show='!cart.goodbye' ng-repeat='pot in cart.potCart' class='row item'>
    <pot-item pot='pot' category='' pots='pots' minimal='true'></pot-item>
  </div>
</section>
