<section class='menu container'>
  <div class='row form-row'>
    <form name='searchForm' role='search'>
      <div class='col-md-3'>
        <p>Search by Category</p>
        <div class='input-group'>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Select
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a ng-click='pots.sortByPullDown("hot")' href="#">Hot</a></li>
              <li><a ng-click='pots.sortByPullDown("warm")' href="#">Warm</a></li>
              <li><a ng-click='pots.sortByPullDown("cold")' href="#">Cold</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click='pots.sortByPullDown("awesome")' href="#">Awesome</a></li>
              <li><a ng-click='pots.sortByPullDown("lucid")' href="#">Lucid</a></li>
              <li><a ng-click='pots.sortByPullDown("dark")' href="#">Dark</a></li>
              <li><a ng-click='pots.sortByPullDown("dry")' href="#">Dry</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click='pots.sortByPullDown("winter")' href="#">Winter</a></li>
              <li><a ng-click='pots.sortByPullDown("spring")' href="#">Spring</a></li>
              <li><a ng-click='pots.sortByPullDown("summer")' href="#">Summer</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <p>Search by Keyword</p>
        <div class="input-group">
          <input ng-model='searchText' type="text" class="form-control" placeholder="Search for...">
        </div>
      </div>
    </form>
    <div class='col-md-3 col-md-push-2'>
      <p>Checkout</p>
      <a href="#" class="btn btn-warning">Bag of Holding <span class='badge'>0</span></a>
    </div>
  </div>
</section>
<section class='catalogue container'>
  <div class='row sort-order'>
    <div class='col-md-2 col-md-offset-9'>
      <label for='sort-order'>Sort by Price:</label>
      <select ng-model='pots.sortBy' name="sort-order" class="form-control">
        <option value="-price">High to Low</option>
        <option value="price">Low to High</option>
      </select>
    </div>
  </div>
  <div ng-repeat='pot in pots.potList | filter:searchText | orderBy:pots.sortBy' class='row item'>
    <pot-item pot='pot' category='pots.pullDown'></pot-item>
  </div>
</section>
