<section class='menu container'>
  <!-- ******************** Reviews ************************ -->
  <div class='row'>
    <h4>Customer Reviews</h4>
    <div class='col-md-6 col-md-offset-3 reviews'>
      <div class='row' ng-switch='pots.review'>
        <div ng-switch-when='0'>
          <div class='col-md-4'>
            <img src='../../images/reviewers/barbarian.gif'>
          </div>
          <div class='col-md-8 review-detail'>
            <p><em>"Oh I hate staining my hands with the blood of foul Sorcerers!"</em></p>
            <p class='review-time'>Date: Approx. one year after the destruction of the Worldstone</p>
            <p class='review-name'>Review By: The Barbarian</p>
          </div>
        </div>
        <div ng-switch-when='1'>
          <div class='col-md-4'>
            <img src='../../images/reviewers/beaker.jpg'>
          </div>
          <div class='col-md-8 review-detail'>
            <p><em>"Mimimi mimi mimimimimi mimi. Mimimi, mimi Mi mimimimimimimi mimimimi."</em></p>
            <p class='review-time'>Date: 5/1/2016</p>
            <p class='review-name'>Review By: Beaker</p>
          </div>
        </div>
        <div ng-switch-when='2'>
          <div class='col-md-4'>
            <img src='../../images/reviewers/Bane.jpg'>
          </div>
          <div class='col-md-8 review-detail'>
            <p><em>"You are beaten! Beg for mercy! SCREAM MY NAME!"</em></p>
            <p class='review-time'>Date: 9/10/1994</p>
            <p class='review-name'>Review By: Bane</p>
          </div>
        </div>
        <div ng-switch-when='3'>
          <div class='col-md-4'>
            <img src='../../images/reviewers/Jareth.jpg'>
          </div>
          <div class='col-md-8 review-detail'>
            <p><em>"You remind me of the babe."</em></p>
            <p class='review-time'>Date: 6/27/1986</p>
            <p class='review-name'>Review By: Jareth</p>
          </div>
        </div>
        <div ng-switch-when='4'>
          <div class='col-md-4'>
            <img src='../../images/reviewers/jake.png'>
          </div>
          <div class='col-md-8 review-detail'>
            <p><em>"Haha! Observe my magics! "</em></p>
            <p class='review-time'>Date:5/10/2010</p>
            <p class='review-name'>Review By: Jake</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row form-row'>
    <form name='searchForm' role='search'>
    <!-- *****************  Dropdown Menu ******************* -->
      <div class='col-md-2 col-md-offset-1'>
        <p>Search by Category</p>
        <div class='input-group'>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ pots.pullDownTitle }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a ng-click='pots.sortByPullDown("")' href="#">All</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click='pots.sortByPullDown("hot")' href="#">Hot</a></li>
              <li><a ng-click='pots.sortByPullDown("warm")' href="#">Warm</a></li>
              <li><a ng-click='pots.sortByPullDown("cold")' href="#">Cold</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click='pots.sortByPullDown("awesome")' href="#">Awesome</a></li>
              <li><a ng-click='pots.sortByPullDown("lucid")' href="#">Lucid</a></li>
              <li><a ng-click='pots.sortByPullDown("dark")' href="#">Dark</a></li>
              <li><a ng-click='pots.sortByPullDown("dry")' href="#">Dry</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click='pots.sortByPullDown("winter")' href="#">Winter</a></li>
              <li><a ng-click='pots.sortByPullDown("spring")' href="#">Spring</a></li>
              <li><a ng-click='pots.sortByPullDown("summer")' href="#">Summer</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ****************** Search Text Input ******************** -->
      <div class="col-md-4">
        <p>Search by Keyword</p>
        <div class="input-group">
          <input ng-model='searchText' type="text" class="form-control" placeholder="Search for...">
        </div>
      </div>
    </form>
    <!-- ****************** Checkout ******************* -->
    <div class='col-md-3 col-md-push-2'>
      <p>Checkout</p>
      <a href="#" class="btn btn-warning">Bag of Holding <span class='badge'>{{ pots.bagSize }}</span></a>
    </div>
  </div>
</section>
<section class='catalogue container'>
  <!-- ******************** Price Sort *********************** -->
  <div class='row sort-order'>
    <div class='col-md-2 col-md-offset-9'>
      <label for='sort-order'>Sort by Price:</label>
      <select ng-model='pots.sortBy' name="sort-order" class="form-control">
        <option value="" selected>Select</option>
        <option value="-price">High to Low</option>
        <option value="price">Low to High</option>
      </select>
    </div>
  </div>
  <!-- ******************* Potion List ********************* -->
  <div ng-repeat='pot in pots.potList | filter:searchText | orderBy:pots.sortBy' class='row item'>
    <pot-item pot='pot' category='pots.pullDown' pots='pots'></pot-item>
  </div>
</section>
